#Header
{
    height: 50px;
    width: 100%;
    background-color: #99ddff;
    border: 1px solid blue;
    position: relative;
}

#Content
{
    border: 1px solid blue;
    position: relative;
    height: 300px;
}

#divA
{
    border: 1px solid red;
    position: absolute;
    margin-right: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 70%;
}

#divB
{
    border: 1px solid green;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 30%;
    margin-left: 25px;
}
