#Header
{
    height: 70px;
    width: 100%;
    background-color: #99ddff;
    border: 1px solid blue;
    padding-left: 15px;
}

#body
{
    padding: 0%;
    margin: 0%;
}

h1.product
{
    font-size: 5px;
    color: #1a8cff;
    align-content: center;
}

#content
{
    border: 1px solid blue;
    min-height: 300px;    
    overflow: hidden;
    width: 928px;
    padding: 10px;
    margin: 15px;
}

.block
{
    float: left; 
    height: auto;
    width: 300px;
    border: 1px solid red;
    background-color:  #d9d9d9;  
}

.block h2{
    color: crimson;
    padding-left: 5px;
    
}

.block h4{
    color: black;
    padding-left: 5px;
    
}

.block img{
    width: 280px;
    
}

.imageDiv{
    margin: 0 auto;
    width: 280px;
}

.blockContentDiv{
    margin: 5 auto;
    width: 280px;
    margin-bottom: 10px;
    
}

.blockContentDiv th{
    padding-left: 0px;
    color: cadetblue;
}

.blockContentDiv td{
    padding-left: 10px;
    color: cadetblue;
}

.qtyButton {
    
    width: 15px;
    height: 15px;
    border: 2px solid black;
    float: left;
    text-align: center;
    margin: 0 4px 0 4px;
    line-height: 13px;
    color: black;
    background-color: #99ddff;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
}

.qtyButton:hover{
    background-color: #ccffff;
    cursor: pointer; 
}

.qtyButton:active { 
    background-color: yellow;
}  


.qty {
    
    width: 15px;
    height: 15px;
    float: left;
    text-align: center;
    margin: 0 0px 0 0px;
}

#blockB
{
    margin-left: 10px;
   margin-right: 10px;

    /*border: 1px solid red;
    background-color:  #d9d9d9;  
    */
}

#divB
{
    border: 1px solid green;
    background-color:#ff99ff;
}

#divC
{
    border: 1px solid blueviolet;
    background-color:  #ffff80;
}

.perchaceInfo
{
    float: left; 
    min-height: 300px;
    min-width: 370px;
    max-width: 370px;
    overflow: hidden;
    margin: 15px 10px auto 0px;
    border: 1px solid rgb(245, 110, 110);
    background-color:  #f3f3eb;  
}

.perchaceInfo h2
{
    text-align: center;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 94%;
    margin: 3%;
    padding: 5px;
}

.table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 12px;
    
}

.table th {
    border: 1px solid #da8888;
    text-align: left;
    padding: 2px;
    background-color: #f16363;
    font-size: 14px;
    
}

.table tr:nth-child(even) {
    background-color: #dddddd;
}

.table img
{
    width: 15px;
    height: 15px;
}

.table img:hover
{
    cursor: pointer; 
}

 

#tableTotal
{
    text-align: center;
    text-underline-position: below;
}
